<img src="{{ product.featured_image.src | product_img_url: 'original' }}" alt="{{ product.featured_image.alt }}">
<div class="product_info">
  {{ product.title }}
  <span class="product_price">{{ product.price | money }}</span>
</div>
