<div class="product_metafields">
  {% for field in product.metafields.details %}
  <div class="product_metafield">
    <h4><span>+ </span> {{ field | first | slice : 1, 100 }}</h4>
    <p>{{ field | last | newline_to_br }}</p>
  </div>
  {% endfor %}
  {% for field in product.metafields.detail %}
  <div class="product_metafield">
    <h4><span>+ </span> {{ field | first | slice : 1, 100 }}</h4>
    <p>{{ field | last | newline_to_br }}</p>
  </div>
  {% endfor %}
</div>

<script>
  $('.product_metafield h4').on('click', function() {
    $('.product_metafield p').slideUp(400);
  	$(this).next().slideToggle(400);
    $('.product_metafield h4 span').removeClass("rotate");
    $(this).find("span").toggleClass("rotate");
  });
  $('.product_metafield h4').eq(0).click();
</script>
