/********************************
			COLOR
*********************************/

$black:#000;
$white:#ffffff;
$grey:grey;

/********************************
			FONTS
*********************************/

@mixin gobold {font-family: "Gobold_Bold";}
@mixin gobold_ita {font-family: "Gobold_Bold_Italic";}

@mixin size_xxs { font-size: 8px; }
@mixin size_xs { font-size: 10px; }
@mixin size_s { font-size: 14px; }
@mixin size_m { font-size: 15px; }
@mixin size_ml { font-size: 20px; }
@mixin size_mxl { font-size: 22px; }
@mixin size_l { font-size: 26px; }
@mixin size_xl { font-size: 32px; }
@mixin size_xxl { font-size: 42px; }
@mixin size_xxxl { font-size: 70px; }


/********************************
			GENERAL
*********************************/

$header_icon_size:25px;

h1, h2, h3, h4, h5  {
  color:$black;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

h1 { @include size_xxxl;@include gobold_ita; }
h2 { @include size_xxl;@include gobold_ita; }
h3 { @include size_xl;@include gobold_ita; }
h4 { @include size_xl;@include gobold; }
h5 { @include size_m;@include gobold; }

@media all and (max-width:767px) {
  h1 { @include size_xl; }
  h2 { @include size_l; }
  h3 { @include size_ml; }
  h4 { @include size_ml; }
  h5 { @include size_s; }
}

a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

textarea, input, button, .btn, .shopify-payment-button .shopify-payment-button__button--unbranded {
  border-radius: 0 !important;
}

textarea, input, button { outline: none; }

.relative { position:relative; }

.img-cover { object-fit: cover; }

.heightOfParent { overflow: hidden;}


/********************************
			HEADER
*********************************/

#shopify-section-header {
  div[data-section-id="header"] {
    display:none;
  }
  .header_large {
    padding: 40px 15px 20px;
    @include gobold;
    .header_mini {
      display: flex;
      .menu_left {
        width: 300px;
      }
      .menu_center {
        width: calc(100% - 600px);
        text-align: center;
        line-height: 81px;
        .item_menu {
          display: inline;
          color: $black;
          @include size_mxl;
          padding: 0 5px;
        }
      }
      .menu_right {
        width: 300px;
        text-align: right;
        line-height: 81px;
        a {
          color:$black;
          svg {
            height: $header_icon_size;
            width: $header_icon_size;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

/********************************
      FOOTER
********************************/

footer {
  background:$black;
  color:$white;
  padding: 30px;
  margin-top: 30px;
  .footer_top {
    max-width: 45%;
    img {
      width: 100%;
    }
  }
  .footer_bottom {
    padding: 0 15px;
    .footer_left {
      text-align: left;
      display: flex;
      .footer_menu {
        width: 40%;
        .footer_linklist {
          .footer_linklist-item {
            margin-top: 5px;
            a {
              color:$white;
              @include gobold;
              text-transform: uppercase;
              @include size_s;
            }
          }
        }
      }
    }
    .footer_right {
      text-align: right;
      .footer_newsletter {
        width: 255px;
        text-align: right;
        margin-right: 0;
        margin-left: auto;
        .footer_subheading {
          margin-bottom: 10px;
          @include size_s;
        }
        #Email, button.newsletter__submit  {
          min-height: 38px;
          @include size_s;
          background: $white;
          color: $black;
          @include gobold;
          font-weight: 100;
          padding: 0;
        }
        #Email {
          width: 100px;
          -ms-flex-preferred-size: inherit;
          -webkit-flex-basis: inherit;
          -moz-flex-basis: inherit;
          flex-basis: inherit;
          border: 1px solid $white;
          border-right: 1px solid $black;
          padding-left: 10px;
        }
        .form-message.form-message--success {
          color:$black;
          text-align: center;
        }
        button.newsletter__submit {
          width: 100px;
        }
        p {
          color:$white;
          @include gobold;
        }
        .icon {
          width: 42px;
          margin-top: 25px;
          height: 42px;
          color:$white;
        }
      }
    }
  }
}


/********************************
			FOOTER NEWSLETTER
*********************************/

.section_footer_newsletter {
  padding:100px 0 50px;
  text-align: center;
  h3 {
    left: -140px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  h4 {
    left: -5px;
    letter-spacing: 18px;
    margin-bottom: 30px;
    span.exclam {
      left: 30px;
      top: 12px;
    }
  }
  h5 { margin-top: 12px; }
  #contact_form {
    max-width: 280px;
    margin: auto;
    #Email {
      width: 190px;
      -ms-flex-preferred-size: inherit;
      -webkit-flex-basis: inherit;
      -moz-flex-basis: inherit;
      flex-basis: inherit;
      @include size_s;
    }
    .input-group__btn {
      width:90px;
      #Subscribe {
        padding: 0;
        background: black;
        @include gobold;
      }
    }
  }
}

/********************************
			COLLECTION PAGE
*********************************/

.collection_new {
  .collection_menu {
    padding: 0 0 50px;
    .collection_menu_item {
      padding:0 10px;
      @include size_ml;
      @include gobold_ita;
      color: $grey;
      &.active {
        color:$black;
      }
    }
  }
  .collection_all {
    .collection_product_grid_large {
      .product_info {
        padding-left: 10px;
        padding-top: 10px;
        @include gobold_ita;
        @include size_xl;
        color:$black;
        .product_price {
          @include size_mxl;
        }
      }
    }
    .collection_meta {
      margin-top: 50px;
    }
  }
  .collection_container {
    padding:0 20px;
    margin-top: 20px;
    .row {
      margin-top: 20px;
    }
    .row_margin_top {
      margin-top: 20px;
    }
    .product_info {
      padding-top: 10px;
      @include gobold_ita;
      @include size_s;
      color:$black;
      .product_price {
        display: block;
      }
    }
  }
}

/********************************
			MEDIA QUERIES
*********************************/

@media all and (max-width:767px) {
  /* header */
  #shopify-section-header div[data-section-id="header"] { display:block; }
  .header_large { display:none; }


  /* footer */
  footer .footer_bottom .footer_right { margin-top: 50px; }
  footer .footer_bottom .footer_right .footer_newsletter { margin: auto;}
  footer .footer_bottom .footer_left .footer_menu { width: 50%; }
  header .site-header__icons-wrapper {
    a, .btn--link { color: $black; }
    .btn--link.site-header__icon.site-header__menu {
      position: relative;
      bottom:4px;
      color:$black;
    }
  }

  /* collection */
  .collection_new .collection_menu .collection_menu_item { @include size_s;padding:0 5px; }
  .collection_new .collection_all .collection_product_grid_large .product_info { padding-left: 0; @include size_xs;
    .product_price { @include size_xxs; }
  }
  .collection_new .collection_container { width: auto !important;
    .product_info { @include size_xs }
  }

  /* footer newsletter */
  .section_footer_newsletter {
    padding:60px 0 30px;
    h3 { left: -90px; margin-bottom: 4px; }
    h4 {
      letter-spacing: 12px;
      margin-bottom: 20px;
      span.exclam {
        left: 16px;
        top: 7px;
      }
    }
    h5 { margin-top: 5px;}
    #contact_form {
      max-width: 270px;
      #Email { width: 180px; }
    }
  }

  /*     */

}
