/********************************
			COLOR
*********************************/

$black:#000;
$white:#ffffff;
$grey:grey;
$red:#cf3027;

$specialBlue:#8cd7f8;
$specialRed:#ed2b4a;

/********************************
			FONTS
*********************************/

@mixin gobold {font-family: "Gobold_Bold";}
@mixin gobold_ita {font-family: "Gobold_Bold_Italic";}
@mixin titi {font-family: "TitilliumWeb";}

@mixin size_xxs { font-size: 8px; }
@mixin size_xs { font-size: 10px; }
@mixin size_s { font-size: 14px; }
@mixin size_m { font-size: 16px; }
@mixin size_ml { font-size: 20px; }
@mixin size_mxl { font-size: 18pt; }
@mixin size_l { font-size: 26px; }
@mixin size_xl { font-size: 32px; }
@mixin size_xxl { font-size: 42px; }
@mixin size_xxxsl { font-size: 56px;}
@mixin size_xxxl { font-size: 70px; }


/********************************
			GENERAL
*********************************/

$header_icon_size:25px;

h1, h2, h3, h4, h5  {
  color:$black;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

h1 { @include size_xxxl;@include gobold_ita; }
h2 { @include size_xxl;@include gobold_ita; }
h3 { @include size_xl;@include gobold_ita; }
h4 { @include size_xl;@include gobold; }
h5 { @include size_m;@include gobold; }

@media all and (max-width:767px) {
  h1 { @include size_xl; }
  h2 { @include size_l; }
  h3 { @include size_ml; }
  h4 { @include size_ml; }
  h5 { @include size_s; }
}

p {@include titi;color:$black;}

a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

textarea, input, button, .btn, .shopify-payment-button .shopify-payment-button__button--unbranded {
  border-radius: 0 !important;
}

textarea, input, button { outline: none; }

.relative { position:relative; }
.absolute { position: absolute; }

.flex { display:flex;}

.img-cover { object-fit: cover; }

.heightOfParent { overflow: hidden;}

.little-margin-top { margin-top: 30px; }

.display_none { display:none; }

.cta {
  @include size_xl;
  background: $white;
  color: black;
  @include gobold_ita;
  border: 4px solid black;
  padding: 3px 12px 3px 8px;
  animation: .2s;
  &:hover {
    background: $black;
    color: $white;
//    font-size: 34px;
  }
}

@media only screen and (min-width: 750px) {
  .page-container {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}

/********************************
			HEADER
*********************************/

#shopify-section-header {
  #CartCount {
    display: none;
  }
  div[data-section-id="header"] {
    display:none;
  }
  .header_large {
    padding: 40px 30px 20px;
    @include gobold;
    .header_mini {
      display: flex;
      .menu_left {
        width: 300px;
      }
      .menu_center {
        width: calc(100% - 600px);
        text-align: center;
        line-height: 65px;
        .item_menu {
          display: inline;
          color: $black;
          @include size_mxl;
          padding: 0 32px;
          &:hover { color:$grey; }
        }
      }
      .menu_right {
        width: 300px;
        text-align: right;
        line-height: 65px;
        a {
          color:$black;
          svg, .fa, .fas, .far {
            height: $header_icon_size;
            width: $header_icon_size;
            font-size: $header_icon_size;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

/********************************
      FOOTER
********************************/

footer {
  background:$black;
  color:$white;
  padding: 30px;
  margin-top: 30px;
  .footer_top {
    max-width: 45%;
    padding-bottom: 85px;
    img {
      width: 100%;
      max-width: 420px;
      min-width: 230px;
    }
  }
  .footer_bottom {
    padding: 0 15px;
    .footer_left {
      text-align: left;
      display: flex;
      .footer_menu {
        width: 30%;
        padding-right: 30px;
        .footer_linklist {
          .footer_linklist-item {
            margin-top: 5px;
            a {
              color:$white;
              @include gobold;
              text-transform: uppercase;
              @include size_m;
            }
          }
        }
      }
      .footer_menu_big {
        width: 40%;
        .little-margin-top:not(:first-of-type) {
          margin-top:15px !important;
        }
      }
    }
    .footer_right {
      text-align: right;
      .footer_newsletter {
        width: 290px;
        text-align: right;
        margin-right: 0;
        margin-left: auto;
        .footer_subheading {
          margin-bottom: 10px;
          @include size_m;
        }
        #Email, button.newsletter__submit  {
          min-height: 38px;
          @include size_m;
          background: $white;
          color: $black;
          @include gobold;
          font-weight: 100;
          padding: 0;
        }
        #Email {
          width: 100px;
          -ms-flex-preferred-size: inherit;
          -webkit-flex-basis: inherit;
          -moz-flex-basis: inherit;
          flex-basis: inherit;
          border: 1px solid $white;
          border-right: 1px solid $black;
          padding-left: 10px;
        }
        .form-message.form-message--success {
          color:$black;
          text-align: center;
        }
        button.newsletter__submit {
          width: 100px;
        }
        p {
          color:$white;
          @include gobold;
        }
        .icon {
          width: 42px;
          margin-top: 25px;
          height: 42px;
          color:$white;
        }
      }
    }
  }
}


/********************************
			FOOTER NEWSLETTER
*********************************/

.section_footer_newsletter {
  padding:100px 0 50px;
  text-align: center;
  h3 {
    left: -140px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  h4 {
    left: 0;
    letter-spacing: 18px;
    margin-bottom: 30px;
    span.exclam {
      left: 30px;
      display:none;
      top: 12px;
    }
  }
  h5 { margin-top: 12px; }
  #contact_form {
    max-width: 280px;
    margin: auto;
    #Email {
      width: 190px;
      -ms-flex-preferred-size: inherit;
      -webkit-flex-basis: inherit;
      -moz-flex-basis: inherit;
      flex-basis: inherit;
      @include size_s;
    }
    .input-group__btn {
      width:90px;
      #Subscribe {
        padding: 0;
        background: black;
        @include gobold;
      }
    }
  }
}

/********************************
			COLLECTION PAGE
*********************************/

.collection_new {
  .collection_menu {
    padding: 0 0 50px;
    .collection_menu_item {
      padding:0 10px;
      @include size_ml;
      @include gobold_ita;
      color: $grey;
      &.active {
        color:$black;
      }
    }
  }
  .collection_all {
    .collection_first_absolute {
      right: 20px;
      top:25%;
      text-align: center;
      h4 {
        color:$white;
        @include size_xxl;
      }
    }
    .collection_second_absolute {
      right: 20px;
      top:45%;
    }
    .collection_product_grid_large {
      .product_info {
        padding-left: 10px;
        padding-top: 10px;
        @include gobold_ita;
        @include size_xl;
        color:$black;
        .product_price {
          @include size_mxl;
        }
      }
    }
    .collection_meta {
      margin-top: 50px;
    }
  }
  .collection_container {
    padding:0 20px;
    margin-top: 20px;
    .collection_product_card {
      &:nth-child(4n+1) {
        padding-right: 25px;
        padding-bottom: 15px;
      }
      &:nth-child(4n+2) {
        padding-left: 25px;
        padding-bottom: 15px;
      }
      &:nth-child(4n+3) {
        padding-right: 25px;
        padding-top: 15px;
      }
      &:nth-child(4n+4) {
        padding-left: 25px;
        padding-top: 15px;
      }
    }
    .row {
      margin-top: 20px;
    }
    .row_margin_top {
      margin-top: 20px;
    }
    .product_info {
      padding-top: 10px;
      @include gobold_ita;
      @include size_s;
      color:$black;
      .product_price {
        display: block;
      }
    }
  }
}

/********************************
			PRODUCT PAGE
*********************************/

.product_page {
  .container-fluid {
    padding-left: 35px;
    padding-right: 35px;
    .product_details {
      h1 {
        @include size_xl;
        text-transform: uppercase;
      }
      h2 {
        @include size_l;
        margin-top: 20px;
        span {
          color: $black;
          padding-left: 20px;
          font-weight: 100;
        }
      }
      .product-form {
        #AddToCart-product-new-template {
          background: $black;
          color: $white;
          @include gobold;
          text-transform: uppercase;
          font-weight: 100;
          @include size_m;
          width: 90%;
          margin:auto;
        }
        .selector-wrapper.js.product-form__item {
          display: none;
        }
        .swatch {
          .header {
            text-align: center;
            margin-top: 30px;
            h4 { @include size_l; }
            h5 {
              color:$grey;
              @include titi;

            }
          }
        }
        .swatch.clearfix {
          width: 100%;
          text-align: center;
          .swatch-element {
            margin:auto;
            width: 50px;
            height: 50px;
            &.selected {
              label {
                background: $black;
                color:$white;
                border-color: $black;
              }
            }
            label {
              width: 50px;
              height: 50px !Important;
              line-height: 50px !Important;
              padding:0;
              margin: 25px 0;
              @include size_m;
              border-radius: 0;
              box-shadow: none;
              background: $white;
              border: 2px solid $black;
            }
          }
        }
      }
      .product-single__description {
        color: $black;
        .real_description {
          margin-top: 30px;
          p span { display: block; overflow: hidden; }
        }
        .product_picto {
          margin-top: 20px;
          .product-metafields-pictos {
            text-align: center;
            img {
              max-width: 75px;
            }
            h6 {
              margin: 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .product_metafields {
    .product_metafield {
  	h4 {
       text-transform:uppercase;
       text-align: center;
        font-weight:100;
        @include size_ml;
        cursor:pointer;
        border-top:1px solid;
        padding:22px 0;
        margin:0;
        span {
          transition:.2s;
          display:block;
          float:right;
          margin-right:10px;
          &.rotate {
            -webkit-transform: rotate(135deg);     /* Chrome and other webkit browsers */
            -moz-transform: rotate(135deg);        /* FF */
            -o-transform: rotate(135deg);          /* Opera */
            -ms-transform: rotate(135deg);         /* IE9 */
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          }
        }
      }
      p {
        display:none;
        padding: 5px 0;
        margin-top: 10px;
        color: $black;
        margin-bottom:35px;
        @include size_s;
      }
      &:first-child {
        h4 {
          border-top:0;
        }
      }
    }
  }
  .product-special-swatch {
    margin-bottom: 30px;
    margin-top: -10px;
    .red { color:$red; }
    .product-special-swatch-revelia {
      margin-bottom: 30px;
      margin-top: 15px;
      cursor: pointer;
      &.active { border:3px solid $black;}
    }
    .product-special-swatch-color {
      height:30px;
      width: 30px;
      border-radius: 100%;
      cursor: pointer;
      &.colorRed {
        background: $specialRed;
        margin-left: 30px;
      }
      &.colorBlue {
        background: $specialBlue;
      }
    }
  }
}
/********************************
    RELATED PRODUCT
*********************************/

.related_product {
  margin-bottom: 30px;
  margin-top: 80px;
  .absolute_cta {
    bottom: 10px;
    right:10px;
    @include size_ml;
  }
  .product_info {
    @include size_m;
    @include gobold_ita;
    color: black;
    margin-top:10px;
  }
}

/********************************
			SIDE CART
*********************************/

.cart-side {
  position: fixed;
  z-index: 999;
  top:0;
  bottom: 0;
  padding: 50px;
  background: $white;
  border-left:3px solid $black;
  border-right:3px solid $black;
  width:500px;
  right: -510px;
  transition:.5s;
  &.open {
    right:0;
  }
  .cart-header {
    h2 {
      color:$red;
      @include size_xxl;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      padding:30px 15px;
      margin-bottom: 0;
    }
    .cart-close {
      cursor: pointer;
      color:$red;
      right: 10px;
      top: 10px;
      @include size_mxl;
    }
  }
  .cart-new-template {
    .section-header {
      display: none;
    }
    .cart__row.cart__header {
      display: none;
    }
    .border-top { border-top:0 }
    .border-bottom { border-bottom:1px solid black; }
    footer {
      padding-left: 0 !important;
      padding-right: 0 !important;
      .text-right {
        text-align:center;
      }
      .btn {
        @include size_m;
        padding:8px 10px;
      }
    }
  }
}

/********************************
    CART
*********************************/

.cart-new-template {
  padding: 0;
  footer {
    background:#0000;
    color:$black;
    .btn {
      background: $red;
      @include gobold_ita;
      color:$white;
      @include size_ml;
    }
  }
}


/********************************
    HOW IT WORKS
*********************************/

.page_howitworks {
  margin-top: 30px;
  h1 {
    @include size_xxxsl;
    @include gobold;
    text-align: center;
  }
  .content {
    width: 70%;
    margin:auto;
    section {
      margin-top: 40px;
      &.classic-text-left {
        text-align: left;
        @include size_mxl;
      }
      &.video_container {
        width: 100%;
        position:relative;
        video {
          object-fit: cover;
          width: 100%;
        }
        .video-button {
          display: block;
          background: $white;
          position: absolute;
          width: 110px;
          height: 110px;
          top: 30%;
          left: 50%;
          margin-top: 0;
          margin-left: -56px;
          border-radius: 100%;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
          transform-origin: center center;
          transition: transform 150ms linear;
          &.hide { display:none;}
          svg {
            position: relative;
            top: 32px;
            width: 35px;
            height: 50px;
            left: 40px;
          }
        }
      }
      &.how-it-works-multiple-image-cta {
      /*  width: 100vw;
        margin-left:-21%;*/
        margin-left: -11%;
        margin-right: -11%;
        padding: 30px 0 30px;
        .align_bottom {
          align-self:center;
        }
        .equality-div {
          width:30%;
        }
        .texte {
          width:60%;
          margin: auto;
          text-align: justify;
          p { @include size_mxl;}
        }
        .cta-container {
          width: 80%;
          margin: auto;
          text-align: right;
          margin-top: 10px;
          .cta { @include size_xxl; padding: 3px 59px 3px 54px;border:4px solid $black;}
        }
      }
      &.title-text-image {
        margin-top: 60px;
        padding-top: 40px;
        h2 {
          text-align:left;
          margin: 0;
          margin-left: -10%;
          @include size_xxxsl;
        }
        p {
          @include size_mxl;
          padding: 35px 0;
        }
      }
      &.icons {
        margin-left: -14%;
        margin-right: -14%;
        .icons_icon {
          text-align: center;
          margin-top: 30px;
          h3 {
            @include size_l;
          }
        }
      }
      &.right-cta {
        text-align: right;
        margin-top: 50px;
        padding-top: 25px;
        .cta {
          padding: 3px 59px 3px 54px;
          border:4px solid $black;
          @include size_xxl;
          left: 10%;
          position:relative;
        }
      }
      &.slider-avis {
        margin-left: -10%;
        margin-right: -10%;
        padding-top: 40px;
        .slider-avis-container {
          box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 2px 0 15px -4px rgba(0, 0, 0, 0.3), -3px 0 15px -4px rgba(0, 0, 0, 0.3);
          padding: 50px;
          .align_center_avis {
            display: flex;
            align-items: center;
            padding: 40px 0;
            .avis-image-container {
              img {
                width: 170px;
                height: 170px;
                border-radius: 100%;
                object-fit: cover;
                float: right;
              }
            }
            .avis-text-container {
              padding-right: 7%;
            }
          }
          .owl-prev {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 22%;
            margin-left: 0;
            display: block !important;
            border: 0px solid black;
            i {
                transform: scale(2, 2);
                color: $red;
              }
            &:hover {
              background: transparent !Important;
            }
          }
          .owl-next {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 22%;
            right: 0;
            display: block !important;
            border: 0px solid black;
            i {
                transform: scale(2, 2);
                color: $red;
              }
            &:hover {
              background: transparent !Important;
            }
          }
        }
        .cta-container {
          text-align: center;
          .cta {
            padding: 4px 24px 4px 20px;
            border:4px solid $black;
          }
        }
      }
      &.title-text-product {
        margin-left: -10%;
        margin-right: -10%;
        padding-top: 50px;
        margin-top: 60px;
        h2 {
          @include gobold;
          margin-left: 20px;
        }
        p {
          @include size_mxl;
          padding: 10px 0 20px;
        }
        .info {
          display: flex;
          align-items: center;
          padding-top: 20px;
          h2 {margin-bottom: 0;}
          h4 {margin-top: 0;}
          .red { color:$red;}
          .product-price {padding: 0;}
          .mini-img { border:2px solid $black;}
        }
      }
      &.rolling-text {
        margin-top: 80px;
        padding-top: 30px;
        width: 200vw;
        margin-left: -50vw;
        .rolling-text-container {
          padding: 14px 0;
          border-top:10px solid $red;
          border-bottom:10px solid $red;
          letter-spacing: 2px;
          height:90px;
          @include gobold;
          @include size_xl;
          .title_red {
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $red;
            letter-spacing: 15px;
            color:$white;
            padding-left: 50px;
          }
          .title_black {
            color:$black;
            padding-left: 50px;
          }
        }
      }
      &.images-cta {
        margin-left: -10%;
        margin-right: -10%;
        padding-top: 50px;
        .container-image-full {
          color: black;
          padding: 0;
          img {width:100%;}
          .cta {
            left: 50px;
            bottom:20px;
          }
        }
      }
    }
  }
}

/********************************
    POPUP
*********************************/

.popup {
  width: 100vw;
  height:100vh;
  position: fixed;
  display: none;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  .middle {
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    height: 80vh;
    background: white;
    overflow: scroll;
    padding: 40px 30px 30px 30px;
  }
}

/********************************
			MEDIA QUERIES
*********************************/

@media all and (max-width:767px) {
  /* header */
  #shopify-section-header div[data-section-id="header"] { display:block; }
  .header_large { display:none; }


  /* footer */
  footer .footer_bottom .footer_right { margin-top: 50px; }
  footer .footer_bottom .footer_right .footer_newsletter { margin: auto;}
  footer .footer_bottom .footer_left .footer_menu { width: 50%; }
  header .site-header__icons-wrapper {
    a, .btn--link { color: $black; }
    .btn--link.site-header__icon.site-header__menu {
      position: relative;
      bottom:4px;
      color:$black;
    }
  }

  /* collection */
  .collection_new .collection_menu .collection_menu_item { @include size_s;padding:0 5px; }
  .collection_new .collection_all .collection_product_grid_large .product_info { padding-left: 0; @include size_xs;
    .product_price { @include size_xxs; }
  }
  .collection_new .collection_container { width: auto !important;
    .product_info { @include size_xs }
  }

  /* footer newsletter */
  .section_footer_newsletter {
    padding:60px 0 30px;
    h3 { left: -90px; margin-bottom: 4px; }
    h4 {
      letter-spacing: 12px;
      margin-bottom: 20px;
      span.exclam {
        left: 16px;
        top: 7px;
      }
    }
    h5 { margin-top: 5px;}
    #contact_form {
      max-width: 270px;
      #Email { width: 180px; }
    }
  }

  /* page how it works */
  .page_howitworks .content section.video_container .video-button {
    width: 75px;
    height: 75px;
    margin-left: -37.5px;
    svg {
      top: 13px;
      width: 23px;
      left: 30px;
    }
  }
  .page_howitworks h1 { @include size_xxl; }
  .page_howitworks .content section.title-text-image h2 { @include size_l; }
  .page_howitworks .content section.title-text-image {padding: 0;}
  .page_howitworks .content section.how-it-works-multiple-image-cta .texte p { font-size: 17px;}
  .page_howitworks .content section.title-text-image p { @include size_m; }
  .page_howitworks .content section.icons .icons_icon {
     h3 {
      @include size_m;
      height: 40px;
    }
    p { font-size: 12px;}
  }
  .page_howitworks .content section.right-cta {
    text-align: center;
    .cta {left:0;}
  }

  .page_howitworks .content section.slider-avis .slider-avis-container .align_center_avis { display: block;}

  .page_howitworks .content section.slider-avis .slider-avis-container .align_center_avis .avis-image-container img {
    float: none;
    margin: auto;
    margin-bottom: 52px;
  }

  .page_howitworks .content section.title-text-product .info { display: block;}
  .page_howitworks .content section.title-text-product .info h2 {@include size_m;}
  .page_howitworks .content section.title-text-product .info h4 {@include size_s;}
  .page_howitworks .content section.title-text-product .info .product-price {
    padding-left: 15px;
    padding-right: 15px;
  }
  .page_howitworks .content section.title-text-product p { font-size: 12px; }

  .how-it-works-multiple-image-cta .flex { display:block;}
  .page_howitworks .content section.how-it-works-multiple-image-cta .equality-div {
    width: 50%;
    margin-top: 100px;
  }
  .page_howitworks .content section.how-it-works-multiple-image-cta .cta-container {text-align: center;}

  .page_howitworks .content section.slider-avis .slider-avis-container .owl-prev {
    margin-left:-30px;
    i {
      transform: scale(1, 1);
    }
  }

  .page_howitworks .content section.slider-avis .slider-avis-container .owl-next {
    right:-30px;
    i {
      transform: scale(1, 1);
    }
  }
  .page_howitworks .content section.slider-avis .slider-avis-container .align_center_avis .avis-text-container {
    font-size: 12px;
  }
  .page_howitworks .content section.slider-avis .cta-container .cta {
    @include size_ml;
  }

  .page_howitworks .content section.slider-avis .slider-avis-container .align_center_avis .avis-image-container img {
    width: 150px;
    height:150px;
  }

}
/* little fix - TODO decalage page shpo   */

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

@media all and (min-width: 750px) {
  .main-content {
      padding-top: 15px;
  }
}
