<section class="right-cta">
  <a class="cta" href="{{section.settings.linkgauche }}">{{ section.settings.ctagauche }}</a>
  <a class="cta" href="{{section.settings.link}}">{{ section.settings.cta }}</a>
</section>
{% schema %}
{
  "name": "Right CTA",
  "settings": [
    {
      "type": "text",
      "id": "cta",
      "label": "Titre Call to action droite",
      "default": "FAQ"
    },
    {
      "type": "page",
      "id": "link",
      "label": "Link vers"
    },
    {
      "type": "text",
      "id": "ctagauche",
      "label": "Titre Call to action gauche",
      "default": "SHOP"
    },
    {
      "type": "collection",
      "id": "linkgauche",
      "label": "Link vers"
    }
  ]
}
{% endschema %}
