<section class="title-text-image">
  <h2>{{ section.settings.title }}</h2>
  <div class="flex">
    <div class="image_container">
      <video autoplay="" loop="" muted="" playsinline="" >
        <source src="{{ section.settings.video }}" type="video/mp4">
      </video>
    </div>
    {{ section.settings.text }}
  </div>
</section>
{% schema %}
{
  "name": "Title text image",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titre",
      "default": "PATENTED SHOCK ABSORPTION TECHNOLOGY"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Texte",
      "default": "<p>We sourced the best technology out there for the Revelia, capable of absorbing up to 90% of shocks against a hard surface, like your chest and shoulders ! Our technology is perfectly encapsulated to allow for ultimate resistance and comfort with it’s seamless finishings.</p>"
    },
    {
      "type": "text",
      "id": "video",
      "label": "url de la video"
    }
  ]
}
{% endschema %}
